* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(210, 236, 242);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1440px;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    width: 24%;
    margin: auto;
    padding: 20px 0;
    position: relative;
    top: 5%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Barcode-img {
    width: 95%;
    border-radius: 15px;
}

.Notes {
    margin: 10px 0 5px 0;
    text-align: center;
    padding: 10px;
}

.Notes-Heading {
    font-size: 22px;
    color: #121111;
}

.Notes-Paragraph {
    font-size: 16px;
    color: #2b2828;
    margin-top: 10px;
    padding: 0 10px;
}

@media (min-width: 769px) and (max-width: 1023px) {
    .container {
        width: 60%;
        margin: 0 auto;
        padding: 10px 0;
        top: 15%;
    }

    .Barcode-img {
        width: 50%;
    }

    .Notes-Heading {
        width: 50%;
        margin: auto;
    }

    .Notes-Paragraph {
        width: 50%;
        margin: 10px auto;
    }

}
@media (min-width: 481px) and (max-width: 768px){
    .container {
        width: 80%;
        margin: 0 auto;
        padding: 10px 0;
        top: 12%;
    }

    .Barcode-img {
        width: 50%;
    }


    .Notes-Heading {
        width: 60%;
        margin: auto;
    }

    .Notes-Paragraph {
        width: 60%;
        margin: 10px auto;
    }
}

@media screen and (max-width: 480px){
    .container {
        width: 90%;
        height: 100vh;
        margin: 0 auto;
        top: 2%;
        display: block;
    }

    .Barcode-img {
        width: 95%;
        margin-left: 2%;
    }

    .Notes-Heading {
        width: 100%;
        margin: auto;
        padding: 0 10px;
    }

    .Notes-Paragraph {
        width: 100%;
        margin: 10px auto;
    }
}